body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
}
h1 {
  font-size: 32px;
}
.card {
  width: 290px;
  height: auto;
  border-radius: 10px;
  background: #2e2c2c;
  color: beige;
  position: relative;
  padding: 1.8rem;
  /* border: 2px solid #c3c6ce; */
  transition: 0.5s ease-out;
  overflow: visible;
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(106, 104, 104, 0.25);
 }
